body {
  margin: 0;
  background-color: #f4f1ef;
}

.App {
  font-family: sans-serif;
  text-align: center;

  max-width: 80%;
  margin: auto;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 32px;
}
